<div class="row">
    <div class="col-md-4">
        <select class="selectpicker" title="Select a team to display"
                onchange="location = this.options[this.selectedIndex].value;">
            {% for key, value in instance_list.items %}
                {% if key == team_id %}
                    <option value="/app/codemetrics/?team_id={{ key }}&team_name={{ value.instance_name }}"
                            selected="selected">
                        {{ value.instance_name }}
                    </option>
                {% else %}
                    <option value="/app/codemetrics/?team_id={{ key }}&team_name={{ value.instance_name }}">
                        {{ value.instance_name }}
                    </option>
                {% endif %}
            {% endfor %}
        </select>
    </div>


    <div class="col-md-4">
        {% if repo_list|length %}
            <select class="selectpicker" title="Select repository"
                    onchange="location = this.options[this.selectedIndex].value;">
                {% for repo in repo_list %}
                    {% if repo.name == repo_name %}
                        <option value="/app/codemetrics/?team_id={{ team_id }}&team_name={{ team_name }}&repo_id={{ repo.id }}&repo_name={{ repo.name }}&member_id={{ member_id }}&member_email={{ member_email }}&member_name={{ member_name }}"
                                selected="selected">
                            {{ repo.name }}
                        </option>
                    {% else %}
                        <option value="/app/codemetrics/?team_id={{ team_id }}&team_name={{ team_name }}&repo_id={{ repo.id }}&repo_name={{ repo.name }}&member_id={{ member_id }}&member_email={{ member_email }}&member_name={{ member_name }}">
                            {{ repo.name }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
        {% endif %}
    </div>


    <div class="col-md-4">
        {% if team_list|length %}
            <select class="selectpicker" title="Select a team member"
                    onchange="location = this.options[this.selectedIndex].value;" id="member-picker">
                {% for member in team_list %}
                    {% if member.identifier == member_id %}
                        <option value="/app/codemetrics/?team_id={{ team_id }}&team_name={{ team_name }}&repo_id={{ repo_id }}&repo_name={{ repo_name }}&member_id={{ member.identifier }}&member_email={{ member.email }}&member_name={{ member.name }}"
                                selected="selected">
                            {{ member.name }}
                        </option>
                    {% else %}
                        <option value="/app/codemetrics/?team_id={{ team_id }}&team_name={{ team_name }}&repo_id={{ repo_id }}&repo_name={{ repo_name }}&member_id={{ member.identifier }}&member_email={{ member.email }}&member_name={{ member.name }}">
                            {{ member.name }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
        {% endif %}
    </div>
</div>