{% if member_email and team_id and repo_name %}
<script type="text/javascript">

    $(document).ready(function () {
        render_chart();
    });

    function render_chart() {
        var ctxAdded = document.getElementById('codeAddedDist').getContext("2d");
        ctxAdded.canvas.width = 100;
        ctxAdded.canvas.height = 100;
        var ctxDeleted = document.getElementById('codeDelDist').getContext("2d");
        ctxDeleted.canvas.width = 100;
        ctxDeleted.canvas.height = 100;

        var commit_stats = '{{ commit_stats|escapejs }}';
        var member_name = '{{ member_name|escapejs }}';
        var commit_stats_json = JSON.parse(commit_stats);

        var dates_array = [];
        var index = 0;
        var pointsAdd = [];
        var pointsDel = [];
        for (var key in commit_stats_json) {
            if (commit_stats_json.hasOwnProperty(key)) {
                var element = commit_stats_json[key];
                var code_additions = 0;
                var code_substractions = 0;
                for (i = 0; i < element.length; i++) {
                    var changes = element[i].commit.changes;
                    var changes_email = element[i].commit.author.name;
                    if (changes_email === member_name){
                        code_additions += changes['add'];
                        code_substractions += changes['delete'] + changes['edit'];
                    }
                }
                var date = new Date(Number(key)*1000);
                var dateStr = date.toString().slice(4,10);
                dates_array.push(dateStr);
                pointsAdd.push({'x': index, 'y': code_additions});
                pointsDel.push({'x': index, 'y': code_substractions});
                ++index;
            }
        }
        var color = '#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6);
        var datasetAdd = [{
                label: 'Code Additions',
                data: pointsAdd,
                pointBackgroundColor: color,
                pointBorderColor: color,
                borderColor: color
        }];

        var data = {
            labels: dates_array,
            datasets: datasetAdd
        };

        chartAdd = new Chart(ctxAdded, {
            type: 'line',
            data: data,
            options: {
                animation: {
                    animateScale: true
                }
            }
        });

        color = '#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6);
        var datasetDel = [{
                label: 'Code Deletions',
                data: pointsDel,
                pointBackgroundColor: color,
                pointBorderColor: color,
                borderColor: color
        }];

        dataDel = {
            labels: dates_array,
            datasets: datasetDel
        };

        chartDel = new Chart(ctxDeleted, {
            type: 'line',
            data: dataDel,
            options: {
                animation: {
                    animateScale: true
                }
            }
        });

    }
</script>

<div class="row">
<div id="dataDist" class="chart-container">
    <canvas id="codeAddedDist" style="max-height: 501px; max-width: 501px"></canvas>
</div>
<div id="dataDist" class="chart-container">
    <canvas id="codeDelDist" style="max-height: 501px; max-width: 501px"></canvas>
</div>
</div>
{% endif %}