{% extends 'registration/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="text-center" style="padding:50px 0">
	<div class="logo">login</div>

	<div class="login-form-1">
		<form id="login-form" class="text-left" method="post" action="{% url 'login' %}">
            {% csrf_token %}
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="id_username" class="sr-only">Username</label>
						<input type="text" class="form-control" id="id_username" name="username" placeholder="username">
					</div>
					<div class="form-group">
						<label for="id_password" class="sr-only">Password</label>
						<input type="password" class="form-control" id="id_password" name="password" placeholder="password">
					</div>
				</div>
                {% if form.errors %}
                    <p class=" label label-danger">
                        Your username and password didn't match.
                        Please try again.
                    </p>
                {% endif %}
				<button type="submit" value="Login" class="login-button"><i class="fa fa-chevron-right"></i></button>
                <input type="hidden" name="next" value="{{ next }}" />

			</div>
			<!--<div class="etc-login-form">
				<p>new user? <a href="#">create new account</a></p>
			</div>-->
		</form>
	</div>
</div>
{% endblock %}