{% load static %}
<!-- Bootstrap core CSS -->
<link href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{% static "css/dashboard.css"%}" rel="stylesheet">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static "bower_components/jquery/dist/jquery.js" %}"></script>

<script type="text/javascript" src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
<!-- Custom styles for this template -->
<link href="{% static "css/dashboard.css" %}" rel="stylesheet">
<!-- stylesheet for datepicker -->
<link rel="stylesheet" href="{% static "bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" %}" />
<!-- Moment.js -->
<script type="text/javascript" src="{% static "bower_components/moment/moment.js"%}"></script>
<!-- Include Chart.js -->
<script type="text/javascript" src="{% static "bower_components/chart.js/dist/Chart.js" %}"></script>