<h1>Points Distribution Analysis</h1>
<script type="text/javascript">

   $(document).ready(function() {
       render_chart();
   });

   function render_chart() {

        var ctx = document.getElementById('pointDist').getContext("2d");
        ctx.canvas.width = 100;
        ctx.canvas.height = 100;

        var labels_data = '{{ labels|escapejs }}';
        var point_data = '{{ datasets|escapejs }}';

        console.log(labels_data);
        console.log(point_data);

        var labels_data_json = JSON.parse(labels_data);
        var point_data_json = JSON.parse(point_data);

        console.log(labels_data_json.labels);
        console.log(point_data_json.datasets);

        var sum_points = point_data_json.datasets.reduce(function(a, b) { return a + b}, 0);

        console.log(sum_points);

        piechart_data = {};

        if (sum_points > 0) {
            piechart_data = {
                labels: labels_data_json.labels,
                datasets: [
                    {
                        data: point_data_json.datasets
                    }
                ]
            };
        } else {
            piechart_data = {
                labels: ["Unknown"],
                datasets: [
                    {
                        data: [100]
                    }
                ]
            };
        }

        if (document.getElementById("checkbox-members").checked == true) {
            var pieChart = new Chart(ctx, {
                type: 'pie',
                data: piechart_data,
                options: {
                    animation: {
                        animateScale: true
                    }
                }
            });
        }
        }
</script>

<label><input type="checkbox" onclick="render_chart()" id="checkbox-members" checked="checked"> All Members</label>
<div id="dataDist" class="chart-container">
    <canvas id="pointDist" style="max-height: 501px; max-width: 501px"></canvas>
</div>
