<h1>Points Distribution Analysis</h1>
<script type="text/javascript">

    $(document).ready(function () {
        var pieChart;
        render_chart();
    });

    function render_chart() {

        if (document.getElementById("checkbox-members").checked == true) {
            $('#pointDist').show();
            $('#memberCompare').hide();
            $('#member-picker').attr('disabled', true);
            $('#member-picker').selectpicker('refresh');

            var ctx = document.getElementById('pointDist').getContext("2d");
            //ctx.canvas.width = 100;
            //ctx.canvas.height = 100;

            var labels_data = '{{ labels|escapejs }}';
            var point_data = '{{ datasets|escapejs }}';

            console.log(labels_data);
            console.log(point_data);

            var labels_data_json = JSON.parse(labels_data);
            var point_data_json = JSON.parse(point_data);

            console.log(labels_data_json.labels);
            console.log(point_data_json.datasets);

            var sum_points = point_data_json.datasets.reduce(function (a, b) {
                return a + b
            }, 0);

            console.log(sum_points);

            piechart_data = {};

            if (sum_points > 0) {
                var colors = [];

                for(var i=0; i < point_data_json.datasets.length; i++) {
                    colors.push('#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6));
                }

                piechart_data = {
                    labels: labels_data_json.labels,
                    datasets: [
                        {
                            data: point_data_json.datasets,
                            backgroundColor: colors
                        }
                    ]
                };
            } else {
                piechart_data = {
                    labels: ["Unknown"],
                    datasets: [
                        {
                            data: [100]
                        }
                    ]
                };
            }

            pieChart = new Chart(ctx, {
                type: 'pie',
                data: piechart_data,
                options: {
                    animation: {
                        animateScale: true
                    }
                }
            });
        }
        else {
            console.log("hello");
            $('#member-picker').attr('disabled', false);
            $('#member-picker').selectpicker('refresh');

            pieChart.destroy();
            $('#pointDist').hide();
            $('#memberCompare').show();
        }
    }

    function render_line_chart_between_selected_members() {
        console.log($('#teamID').val());
        var people_compare = $('#member-picker').val();
        console.log(people_compare);
        var dates_data = '{{ dates|escapejs }}';
        var line_chart_data = '{{ line_chart_data|escapejs }}';

        console.log(dates_data);
        console.log(line_chart_data);

        var dates_array = JSON.parse(dates_data).dates;
        var member_points = JSON.parse(line_chart_data).line_chart_data;

        console.log(dates_array);
        console.log(member_points);

        var datasets = [];

        var keys = Object.keys(member_points);

        for (var key in member_points) {
            if (people_compare.indexOf(key) >= 0) {
                var points = member_points[key];
                var color = '#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6);
                var dataset = {
                    label: key,
                    data: points,
                    pointBackgroundColor: color,
                    pointBorderColor: color,
                    borderColor: color
                };
                datasets.push(dataset);
            }
        }

        console.log(keys);

        var data = {
            labels: dates_array,
            datasets: datasets
        };

        if (pieChart != null)
            pieChart.destroy();

        var ctx = document.getElementById('memberCompare').getContext("2d");
        //ctx.canvas.width = 100;
        //ctx.canvas.height = 100;

        pieChart = new Chart(ctx, {
                type: 'line',
                data: data,
                options: {
                    animation: {
                        animateScale: true
                    }
                }
            });
    }
</script>

<label><input type="checkbox" onclick="render_chart()" id="checkbox-members" checked="checked"> All Members</label>
<select id="member-picker" class="selectpicker" multiple>
    {% for member in members %}
            <option value="{{ member }}">{{ member }}</option>
    {% endfor %}
</select>
<button type="button" class="btn btn-primary" onclick="render_line_chart_between_selected_members()">Compare</button>
<div id="dataDist" class="chart-container">
    <canvas id="pointDist" style="max-height: 501px; max-width: 501px"></canvas>
    <canvas id="memberCompare"></canvas>
</div>
