<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Discovery{% endblock %}</title>
    {% load static %}
    <!--VSS SDK-->
    <script src="{% static "sdk/scripts/VSS.SDK.js" %}"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "js/jquery.min.js" %}"></script>
    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- Custom styles for this template -->
    <link href="{% static "css/dashboard.css" %}" rel="stylesheet">
    <!-- stylesheet for datepicker -->
    <link rel="stylesheet" href="{% static "css/bootstrap-datetimepicker.min.css" %}" />
    <!-- Moment.js -->
    <script type="text/javascript" src="{% static "js/moment.min.js"%}"></script>
    <!-- Include Chart.js -->
    <script type="text/javascript" src="{% static "js/Chart.min.js" %}"></script>



</head>

<body>
    <script type="text/javascript">
        VSS.init();
    </script>

    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
                <!--<a class="navbar-brand" href="#">Descovery</a>-->
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Settings</a></li>

                </ul>
                <ul class = " nav navbar-nav navbar-right">
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">

        <!-- START TAB -->
        <ul class="nav nav-tabs">
            <li><a href="#tab_100_points" data-toggle="tab">100 Points</a></li>
            <li><a href="#tab_team_projects" data-toggle="tab">Teams and Projects</a></li>
            <li><a href="#tab_effort_analysis" data-toggle="tab">Effort Analysis</a></li>
        </ul> <!--END TAB -->

        <!--START TAB CONTENT -->
        <!-- https://docs.djangoproject.com/en/1.7/ref/templates/builtins/#std:templatetag-include -->
        <div class="tab-content">
            <!--START 100 POINTS TAB -->
            <div class="tab-pane" id="tab_100_points">
                {% include 'tabs/tab_100_points.html' %}
            </div><!-- END 100 POINTS TAB -->


            <div class="tab-pane" id="tab_team_projects">
                {% include 'tabs/tab_team_projects.html' %}
            </div>

            <div class="tab-pane" id="tab_effort_analysis">
                {% include 'tabs/tab_effort_analysis.html' %}
            </div>
        </div> <!--END TAB CONTENT -->


    </div>
    <!--end of container-->


    <script>
        $("#line-chart").click(function() {
            var ctx = document.getElementById('skills').getContext('2d');
            var myChart = new Chart(ctx, {
            type: 'line',
              data: {
                labels: ['W1', 'W2', 'W3', 'W4', 'W5'],
                datasets: [{
                  label: 'Student 1',
                  data: [20, 25, 30, 17, 22],
                  backgroundColor: 'transparent',
                  borderColor: "rgba(255,153,0,0.4)"

                }, {
                  label: 'Student 2',
                  data: [2, 29, 5, 5, 2, 3, 10],
                   backgroundColor: 'transparent',
                   borderColor: "rgba(153,255,51,0.4)"

                }]
              }
            });
        });

        $("#pie-chart").click(function() {
            var ctx = document.getElementById("skills").getContext('2d');
            var myChart = new Chart(ctx, {
              type: 'pie',
              data: {
                labels: ["Student 1", "Student 2", "Student 3", "Student 4", "Student 5"],
                datasets: [{
                  backgroundColor: [
                    "#2ecc71",
                    "#3498db",
                    "#95a5a6",
                    "#9b59b6",
                    "#f1c40f",
                    "#e74c3c",
                    "#34495e"
                  ],
                  data: [12, 13, 25, 20, 30]
                }]
              }
            });
        });

        $("#student1").click(function() {
            var ctx = document.getElementById('skills').getContext('2d');
            var myChart = new Chart(ctx, {
            type: 'line',
              data: {
                labels: ['W1', 'W2', 'W3', 'W4', 'W5'],
                datasets: [{
                  label: 'Student 1',
                  data: [20, 25, 30, 17, 22],
                  backgroundColor: 'transparent',
                  borderColor: "rgba(255,153,0,0.4)"

                }]
              }
            });
        });

        $("#student2").click(function() {
            var ctx = document.getElementById('skills').getContext('2d');
            var myChart = new Chart(ctx, {
            type: 'line',
              data: {
                labels: ['W1', 'W2', 'W3', 'W4', 'W5'],
                datasets: [{
                  label: 'Student 2',
                  data: [2, 29, 5, 5, 2, 3, 10],
                   backgroundColor: 'transparent',
                   borderColor: "rgba(153,255,51,0.4)"

                }]
              }
            });
        });

            var ctx = document.getElementById('conflicts-bar-chart').getContext('2d');
            var myChart = new Chart(ctx, {
            type: 'bar',
              data: {
                labels: ['W1', 'W2', 'W3', 'W4', 'W5'],
                datasets: [{
                  label: 'Student 1',
                  data: [20, 25, 30, 17, 22],
                  backgroundColor: "rgba(255,153,0,0.4)"

                },

                {
                  label: 'Student 2',
                  data: [20, 22, 25, 20, 22],
                   backgroundColor: "rgba(153,255,51,0.4)"

                }]
              }
            });

    </script>

    <!-- Include custome js fils -->
    <script src="{% static "js/controller.js" %}"></script>
    <script src="{% static "js/100-points-status-ctrl.js" %}"></script>
    <script src="{% static "js/100-points-assign-ctrl.js" %}"></script>

    <script type="text/javascript">
        VSS.notifyLoadSucceeded();
    </script>
</body>
</html>